{% extends "base.html" %}

{% block style %}

<link href="/static/css/custom.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <div id="map"></div>
      </div>
    </div>

    <div class="row gap">
    </div>

    <div class="card">
      <div class="card-header">
        Future Passes
      </div>
      <div class="card-body">
        <table id="satellitelist" class="table table-hover table-bordered">
          <thead>
            <th>Satellite Name</th>
            <th>Azimuth</th>
            <th>Elevation</th>
            <th>Range</th>
            <th>Countdown</th>
            <th>AOS</th>
            <th>Max</th>
            <th>LOS</th>
            <th>Max El</th>
          </thead>
          <tbody></tbody>

        </table>
      </div>
    </div>

  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <div id="prop_title"></div>
      </div>

      <div class="card-body">
        <div class="table-responsive w-100">
          <table class="table table-bordered">

            <tr>
              <td><b>Countdown</b></td>
              <td>
                <div id="prop_countdown"></div>
              </td>
            </tr>
            <tr>
              <td><b>Azimuth</b></td>
              <td>
                <div id="prop_az"></div>
              </td>
            </tr>
            <tr>
              <td><b>Elevation</b></td>
              <td>
                <div id="prop_el"></div>
              </td>
            </tr>
            <tr>
              <td><b>Range</b></td>
              <td>
                <div id="prop_range"></div>
              </td>
            </tr>
            <tr>
              <td><b>Doppler@100Mhz</b></td>
              <td>
                <div id="prop_dopup"></div>
              </td>
            </tr>

          </table>
          <center><svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="polar" width="80%" height="80%"
              viewBox="-120 -120 240 240" overflow="hidden"></center>
          </svg>
        </div>
      </div>

    </div>

    <div class="row gap">
    </div>

    <div class="card">
      <div class="card-header" id="rotator_header">
      </div>
      <div class="card-body">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="rotatorEnabled">
          <label class="form-check-label" for="flexCheckDefault">
            Enable Rotator 
          </label>
        </div>
        <div class="table table-responsive">
          <table class="table table-bordered" width=100%>
            <tr>
              <td>Requested</td>
              <td id="rot_requested_az">000.00</td>
              <td id="rot_requested_el">000.00</td>
            </tr>
            <tr>
              <td>Actual</td>
              <td id="rot_actual_az">000.00</td>
              <td id="rot_actual_el">000.00</td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>

</div>

{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/satellite.js/4.1.2/satellite.min.js"></script>

<script src="/static/js/icons.js"></script>
<script src="/static/js/polar.js"></script>
<script src="/static/js/polar_svg.js"></script>
<script src="/static/js/websocket.js"></script>
<script src="/static/js/rotator.js"></script>
<script src="/static/js/helper_functions.js"></script>
<script src="/static/js/satellite_tracker.js"></script>

{% endblock %}